[submodule "pack/plugins/start/vim-gas"]
	path = pack/plugins/start/vim-gas
	url = https://github.com/Shirk/vim-gas
[submodule "pack/plugins/vim-asm-indent"]
	path = pack/plugins/vim-asm-indent
	url = https://github.com/philj56/vim-asm-indent
[submodule "pack/plugins/start/vim-snazzy"]
	path = pack/plugins/start/vim-snazzy
	url = https://github.com/connorholyday/vim-snazzy
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/plugins/start/vim-asm-indent"]
	path = pack/plugins/start/vim-asm-indent
	url = https://github.com/philj56/vim-asm-indent
[submodule "pack/plugins/start/vim-haskell-indent"]
	path = pack/plugins/start/vim-haskell-indent
	url = https://github.com/itchyny/vim-haskell-indent
[submodule "pack/plugins/start/vim-ormolu.git"]
	path = pack/plugins/start/vim-ormolu.git
	url = https://github.com/sdiehl/vim-ormolu.git
